@import 'tailwindcss';
@plugin "daisyui" {
  exclude: properties;
} 
/* Customise DaisyUI Light and Dark Schemes*/
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #153243;
  --color-primary-content: #e6f0f5;
  --color-secondary: #d90368;
  --color-secondary-content: #fff5f8;
  --color-accent: #04a777;
  --color-accent-content: #f0fdf9;
  --color-neutral: #4a4a4a;
  --color-neutral-content: #ffffff;
  --color-base-100: #e6e8e6;
  --color-base-200: #d1d4d1;
  --color-base-300: #bcbfbc;
  --color-base-content: #191919;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: true;
  --color-primary: #153243;
  --color-primary-content: #e6f0f5;
  --color-secondary: #d90368;
  --color-secondary-content: #fff5f8;
  --color-accent: #04a777;
  --color-accent-content: #f0fdf9;
  --color-neutral: #2e2e2e;
  --color-neutral-content: #e6e8e6;
  --color-base-300: #191919;
  --color-base-200: #2d2d2d;
  --color-base-100: #404040;
  --color-base-content: #e6e8e6;
}

@custom-variant dark (&:where([data-theme=dark] *));

.nextra-mobile-nav {
  background-color: var(--color-base-300);
  border: 0px solid var(--color-base-300); /* I don't know why but the div has a solid background with this border*/
}

